/* .nav-item a {
      color: black;
      font-size: 18px;
      font-weight: bold;
      transition: all linear 0.4s;
}

.nav-item a:hover {
      color: red
}

.card {
      cursor: pointer
}

#spinner,
#error1 {
      display: none;
} */